<div class="doitmrw-ticker">
	<div class="ticker-container">Should I <input class="form-control input-lg" type="text" id="ticker-field" />? Nah, <span>I'll doitmrw</span>.</div>
</div>

<div id="categories">

	<div class="row">
		<a href="<%= view_path(:funny) %>" class="category-link">funny.</a>
		<a href="<%= view_path(:cool) %>" class="category-link">cool.</a>
		<a href="<%= view_path(:cute) %>" class="category-link">cute.</a>
		<a href="<%= view_path(:weird) %>" class="category-link">weird.</a>
		
		<a href="<%= view_path(:random) %>" class="category-link random">random.</a>
	</div>
</div>


