<div class="doitmrw-ticker">
	<div class="ticker-container">Should I <span id="ticker-field"></span> Nah, <span>I'll doitmrw</span>.</div>
</div>

<div id="categories">

	<div class="row">
    <div class="category-links">
      <h3>get lazy:</h3>
  		<a href="<%= view_path(:funny) %>" class="category-link btn btn-lg btn-info">funny</a>
  		<a href="<%= view_path(:cool) %>" class="category-link btn btn-lg btn-warning">cool</a>
  		<a href="<%= view_path(:cute) %>" class="category-link btn btn-lg btn-success">cute</a>
  		<a href="<%= view_path(:weird) %>" class="category-link btn btn-lg btn-danger">weird</a>
  		<br />
  		<!--<a href="<%= view_path(:random) %>" class="category-link btn btn-lg random">random?</a>-->
    </div>
	</div>
</div>


