<script>

	$(document).ready(function() {
		
		$("#type").change(function(){
			
			if ($("#type").val() == "text") {

				$("#textinput").html("<textarea cols='50' id='text' name='text' rows='10'></textarea>");
			} else {
				$("#textinput").html("<input id='text' name='text' type='text' />");
			}
		});
	});

</script>


<div class="row" id="upload-form">


	<div class="col-md-10 col-md-offset-1">
		<h2>Help others waste time!</h2>

		<%= form_tag(upload_path, method: "post") %>

		<div class="row">
			<div class="col-md-3">
				<%= label_tag :title %>
			</div>
			<div class="col-md-3">
				<%= text_field_tag :title, nil, class: "form-control" %>
			</div>
		</div>

		<div class="row">	
			<div class="col-md-3">
				<%= label_tag :type %>
			</div>
			<div class="col-md-3">
				<%= select_tag(:type, options_for_select([['Image', 'image'], ['Video', 'video'], ['Text', 'text']], 'image')) %>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<%= label_tag :category %>
			</div>
			<div class="col-md-3">
			<!-- removed random for now -->
				<%= select_tag(:category, options_for_select([['Funny', 'funny'], ['Cool', 'cool'], ['Cute', 'cute'], ['Weird', 'weird'], ['Random', 'random']])) %>
			</div>
		</div>
		

		<div class="row">
			<div class="col-md-3">
				<%= label_tag(:text, "URL") %>
			</div>
			<div class="col-md-3" id="textinput">
				<%= text_field_tag :text, nil, class: "form-control" %>
			</div>
		</div>

		<div class="row submit">
			<div class="col-md-3 col-md-offset-4">
				<%= submit_tag("Contribute", class: "btn btn-lg btn-primary", name: "submit") %>
			</div>
		</div>

		




	</div>
</div>