<!DOCTYPE html>
<html>
<head>
	<title>Doitmrw</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="description" content="">
	<title>doitmrw - Waste Time With Us</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<% if user_signed_in? -%>
					<li><a href="#"><%= current_user.name %></a></li>
					<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
				<% else -%>
					<li><%= link_to "<i class=\"icon-facebook\"></i> Log In".html_safe, user_omniauth_authorize_path(:facebook) %></li>
					<li><%= link_to "<i class=\"icon-facebook\"></i> Sign Up".html_safe, user_omniauth_authorize_path(:facebook) %></li>
				<% end -%>
				<li><%= link_to "Upload".html_safe, user_omniauth_authorize_path(:facebook), id: "upload-button" %></li>
			</ul>
			<%= image_tag "logo.png" %>
		</div>


		<%= yield %>



		
		<div class="footer">
			<p>&copy; doitmrw.com</p>
		</div>

	</div>
</body>
</html>
