<!DOCTYPE html>
<html>
<head>
	
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="description" content="">
	<title>doitmrw - Waste Time With Us</title>
</head>

<body>
	
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<% if user_signed_in? && current_user.guest -%>
					<li><%= link_to "<i class=\"fa fa-facebook-square\"></i> Log In".html_safe, user_omniauth_authorize_path(:facebook) %></li>
					<li><%= link_to "<i class=\"fa fa-facebook-square\"></i> Sign Up".html_safe, user_omniauth_authorize_path(:facebook) %></li>
				<% elsif user_signed_in? -%>
					<li><a href="/users/<%= current_user.id %>"><%= current_user.name %></a></li>
					<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
				<% else -%>
					<li><%= link_to "<i class=\"fa fa-facebook-square\"></i> Log In".html_safe, user_omniauth_authorize_path(:facebook) %></li>
					<li><%= link_to "<i class=\"fa fa-facebook-square\"></i> Sign Up".html_safe, user_omniauth_authorize_path(:facebook) %></li>
				<% end -%>
				<li>
					<%= link_to "Upload", upload_path, id: "upload-button" %>
				</li>
			</ul>
			<a href="/">
				<%= image_tag "logo.png" %>
				
			</a>
			
			
		</div>
		<% flash.each do |key, value| %>
			<% type = {error: 'danger', success: 'success'}[key] -%>
			<%= content_tag(:div, value, class: "alert alert-#{type}") %>
		<% end %>


		<%= yield %>



		
		<div class="footer row">
			<div class="col-md-4">
				<p>&copy; doitmrw.com</p>
			</div>

			<% unless url_for(params) == "/"%>
			
			<div class="col-md-6">
				
				<div class="btn-group">
					<a id="s-funny-button" href="/view/funny" class="btn btn-info">funny</a>
					<a id="s-cool-button" href="/view/cool" class="btn btn-warning">cool</a>
					<a id="s-cute-button" href="/view/cute" class="btn btn-success">cute</a>
					<a id="s-weird-button" href="/view/weird" class="btn btn-danger">weird</a>
				</div>
				
				
			</div>

			<% end %>
		</div>

	</div>
</body>
</html>
