<!DOCTYPE html>
<html>
<head>
	<title>Doitmrw</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="description" content="">
	<title>doitmrw - Waste Time With Us</title>
</head>
<body>
	<div class="container">
		<div class="header">
			<ul class="nav nav-pills pull-right">
				<li><%= link_to "<i class=\"icon-facebook\"></i> Log In".html_safe, user_omniauth_authorize_path(:facebook) %></li>
				<li><%= link_to "<i class=\"icon-facebook\"></i> Sign Up".html_safe, user_omniauth_authorize_path(:facebook) %></li>
				<li><a href="#" id="upload-button">Upload</a></li>
			</ul>
			<%= image_tag "logo.png" %>
		</div>


		<%= yield %>



		<hr class="featurette-divider">
		<div class="footer">
			<p>&copy; doitmrw.com</p>
		</div>

	</div>
</body>
</html>
