<!DOCTYPE html>
<html>
<head>
	
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
	<meta name="description" content="">
	<title>doitmrw - Waste Time With Us</title>
</head>
<body>
	<div class="container">

		<div class="header">
			<ul class="nav nav-pills pull-right">
				<% if user_signed_in? -%>
					<li><a href="#"><%= current_user.name %></a></li>
					<li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
				<% else -%>
					<li><%= link_to "<i class=\"fa fa-facebook-square\"></i> Log In".html_safe, user_omniauth_authorize_path(:facebook) %></li>
					<li><%= link_to "<i class=\"fa fa-facebook-square\"></i> Sign Up".html_safe, user_omniauth_authorize_path(:facebook) %></li>
				<% end -%>
				<li>
				<% if user_signed_in? -%>
				<%= link_to "Upload", upload_path, id: "upload-button" %>
				<% else -%>
				<%= link_to "Upload", user_omniauth_authorize_path(:facebook), id: "upload-button" %>
				<% end -%>
				</li>
			</ul>
			<a href="/">
			<%= image_tag "logo.png" %>
			</a>
		</div>


		<% flash.each do |key, value| %>
	    <%= content_tag(:div, value, class: "alert alert-#{key}") %>
	    <% end %>


		<%= yield %>



		
		<div class="footer">
			<p>&copy; doitmrw.com</p>
		</div>

	</div>
</body>
</html>
